a {
    text-decoration: none;
    color: #ffffff;
    letter-spacing:normal;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

/*====== header ======*/

.header-bottom {
    width: 100%;
    height: 6px;
    background-color: #323746;
}

.logo {
    margin: 0;
    padding: 0;
    font-weight:normal;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
}

.logo sup {
    color: #f06c64;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top:15px;
}

.active {
    color: #f06c64 !important;
}

.header-content {
    padding-right:10px;
    padding-left:40px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #2d303a;
    font-family: 'Lato-Bold', Verdana, sans-serif;
    src: url(assets/fonts/Lato-Bold.ttf);
}

.header-navigation {
    font-size: 12px;
    padding-left:40px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.header-navigation li {
    margin-right: 35px;

}

/*===== slider =======*/

.slider-content {
    position: relative;
    background-color: #f06c64;
    width: 100%;
    height: 594px;
}
/*vertical-phone*/

.vertical-phone {
    position: absolute;
    left: 112px;
    top: 54px;
}
.vertical-phone-base {
    position: absolute;
}

.vertical-phone-screen {
    position: absolute;
    top: 62px;
    left: 12px;
}

.vertical-phone-shadow {
    position: absolute;
}

/*horizontal-phone*/

.horizontal-phone {
    position: relative;
    left: 425px;
    top: 172px;
}

.horizontal-phone-base {
    position: absolute;
}
.horizontal-phone-screen {
    position: absolute;
    top: 12px;
    left: 57px;
}
.horizontal-phone-shadow {
    position: absolute;
}
.slider-bottom {
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}

.slider-button-left {
    position: absolute;
    left: 40px;
    top: 285px;
    background-image: url("assets/img/left.png");
    display: block;
    width: 16px;
    height: 27px;
    cursor: pointer;
}

.slider-button-right {
    position: absolute;
    right: 40px;
    top: 285px;
    background-image: url("assets/img/right.png");
    display: block;
    width: 16px;
    height: 27px;
    cursor: pointer;
}

/*===== our services =====*/
.our-services{
    height: 494px;
}

.our-services__content {
    position: relative;
    background-color: #f2f2f2;
    padding: 60px 40px;
    height: 494px;
}

.our-services__content {
    color: #666d89;
}

.our-services__content h2 {
    font-family: 'Lato Black', Verdana, sans-serif;
    font-size: 24px;
    line-height: 28px;
}

.our-services__content > p {
    font-family: 'Lato Light', Verdana, sans-serif;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
}

.services {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;

}

.card {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.card__icon {
    width: 60px;
    height: auto;
    display: flex;
    align-items: flex-start;
}
.card__content {
    width: 220px;
    margin-left: 20px;
}

.card__title {
    margin: 0 0 15px 0;
    font-family: 'Lato Black', Verdana, sans-serif;
    font-size: 15px;
    line-height: 18px;
}

.card__description {
    margin: 0;
    font-family: 'Lato Regular', Verdana, sans-serif;
    font-size: 10px;
    line-height: 22px;
    text-align: justify;
}
